{% extends "base.html" %}
{% block title %}Delete-Comment | Blog{% endblock %}
{% block content %}


    <div class="container">
        <div class="contect-page">
            <div class="row">
                <div class="form">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="Name">Name</label>
                        <input type="text" name="name" value="{{comment.name}}" disabled>
                        <label for="Message">Message</label>
                        <textarea cols="30" rows="10" name="message" required>{{comment.message}}</textarea>
                        <button type="submit" class="batton">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}